@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 2px;
}

/* Header styling */

.heading {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 200%;
    color: grey;
    float: left;
    
}

.navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-size: 150%;
    font-family: Source-sans-pro, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: grey;
}

.heading, .navigation {
    line-height: 100px;
}

.navigation a:hover {
    border-bottom: 2px solid grey;
    color: black;
}

/* Main image & text */


#cityscape {
    height: 800px;
    width: 100%;
    background: url(/assets/images/gbg-cycle.jpg) no-repeat center center;
    overflow: hidden;
}

.opener {
    text-transform: capitalize;
    float: right;
    text-align: center;
    font-size: 200%;
    margin-right: 25%;
    margin-top: 10%;
    border: 1px solid grey;
    background-color:white;
    padding: 5px;
}


