@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body { 
    font-family: source-sans-pro, sans-serif;
}

h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
}

/* Header styling */

.heading {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 150%;
    color: #565656;
    float: left;
    margin-left: 30px;
}

.navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-size: 120%;
    font-family: Source-sans-pro, sans-serif;
}

.navigation a {
    text-decoration: none;
    color: #565656;
}

.heading, .navigation {
    line-height: 100px;
}

.navigation a:hover {
    border-bottom: 2px solid #231f20;
    color: #231f20;
}

.current-page {
    border-bottom: 2px solid #565656;
}

/* Index.html page */

/* Main image & text */

#bike-image {
    height: 800px;
    width: 100%;
    background: url(assets/images/gbg-cycle.jpg) no-repeat center center;
    overflow: hidden;
}

.opening-text {
    color: #565656;
    font-size: 120%;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    border: 2px solid #565656;
    background-color: rgba(215, 206, 199, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#booking-link {
    position: absolute;
    top: 75%;
    left: 52%;
    transform: translate(-75%, -52%);
    font-size: larger;
}

#booking-link a {
    text-decoration: none;
    color: #faf9f6;
    border: 1px solid #faf9f6;
    border-radius: 5px;
    background-color: #565656;
    padding: 5px;
}

#booking-link a:hover {
    color: #565656;
    border: 1px solid #565656;
    background-color: #d7cec7;
}

/* About section */

.about {
    font-size: 20px;
    font-family: inherit;
    text-align: center;
    margin: 0 10%;
}

#story {
    margin: 30px 15%;
    text-align: center;
    height: 250px;
    line-height: 30px;
}

table {
    margin: 30px auto;
    width: 50%;
    line-height: 120%;
    border-collapse: collapse;
}

#data {
    height: 200px;
    margin-bottom: 10%;
    background-color: #d7cec7;
}

th, td {
    padding: 5px;
}

tr {
    border-bottom: 1px solid #565656;
}

/* Why take a bike tour section */

.why-bike {
    display: flex;
    flex-direction: row;
}

#picture {
    height: 400px;
    width: 50%;
    background: url(/assets/images/women-riding-bicycles.jpg) no-repeat center center;
    padding: 5px;
    overflow: hidden;
    margin-left: 7%;
}

#list-items {
    line-height: 200%;
    text-align: left;
    list-style-type: none;
    text-transform: capitalize;
}

#list-items li {
    padding-bottom: 15px;
}

#list-div {
    margin-left: 10%;
}

#last-section {
    margin-bottom: 5%;
}

/* Footer */

#copyright {
    color: #565656;
    clear: both;
    float: left;
    margin: 25px;
    font-size: 75%;
    width: 45%;
}

.social-media {
    font-size: 100%;
}

.social-media li {
    float: right;
    list-style-type: none;
    margin: 25px;
}

.social-media a {
    color: #565656;
}

/* Info.html page */

body {
    height: 100%;
    font-size: 20px;
}

#ocean-pic {
    height: 600px;
    width: 100%;
    background: url(/assets/images/info-image.jpg) no-repeat center center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-text {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    color: #565656;
    padding: 10px;
    border: 1px solid #565656;
    background-color: rgba(215, 206, 199, 0.9);
}

#image-text h2 {
    text-transform: capitalize;
}

/* Tour info & map section */

#tour-info {
    margin: 30px 15%;
    line-height: 150%;
}

#tour-info h2 {
    text-align: center;
}

#location-map {
    display: flex;
    align-items: center;
    justify-content: center;
}

#meetup-point {
    text-align: center;
    margin: 30px 15%;
}

#meetup-point h3 {
    margin-bottom: 10px;
}

#meetup-point p {
    margin-top: 10px;
}

/* Form.html page */

.form-page {
    font-size: 15px;
    height: 800px;
    width: 100%;
    background: url(/assets/images/form-background.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    clear: left;
}

.form-page h2 {
    font-size: 30px;
    text-transform: capitalize;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 20px;
}

.form-details {
    position: absolute;
    left: 33%;
    top: 20%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(215, 206, 199, 0.9);
}

.input-boxes {
    width: 95%;
    background-color: rgba(215, 206, 199, 0.9);
    border: 1px solid #565656;
    height: 20px;
    margin: 10px;
}

.input-boxes:hover {
    border: 1px solid #faf9f6;
}

#submit-button {
    background-color: #565656;
    color: #faf9f6;
    border: 1px solid #faf9f6;
    border-radius: 5px;
    font-size: 120%;
    margin-left: 120px;
    padding: 5px;
}

#submit-button:hover {
    background-color: #faf9f6;
    color: #565656;
    border: 1px solid #565656;
}

/* Media Queries */

/* For tablet screen sizes 1000px max width */

/* index.html */

@media screen and (max-width: 1000px) {
   
    .navigation {
        clear: both;
        float: left;
        margin-left: 30px;
    }

    .opening-text {
        top: 40%;
    }

    #booking-link {
        top: 60%;
    }

    #story {
        margin: 5% 0;
    }

    .why-bike {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #picture {
        width: 75%;
        padding: 0;
        margin: 0 100px;
    }

    #list-div {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    #list-items {
        margin-left: 25%;
    }

    /* Form.html */

    .form-page {
        width: 100%;
        height: 1200px;
    }

    .form-details {
        top: 40%;
        left: 25%;
    }

}

/* For mobile screen sizes 750px max width */

/* Index.html */

@media screen and (max-width: 750px) {

    body {
        font-size: 90%;
    }

    .heading { 
        text-align: center;
        margin-top: 10%;
    }

    .navigation {
        margin: 0 30px;
    }

    .navigation li {
        margin: 10px;
        padding: 0;
    }

    #bike-image {
        height: 500px;
    }

    .opening-text {
        width: 90%;
        top: 60%;
    }

    #booking-link {
        top: 80%;
    }

    #data {
        margin-top: 60%;
    }

    #picture {
        padding: 0;
        margin: 0 auto;
        height: 300px;
        background-position: right;
        width: 100%;
    }

    #copyright {
        margin: 0;
        padding: 0;
    }

    .social-media li {
        margin: 20px;
    }

    /* Info.html & form.html */

    #image-text {
        font-size: 150%;
    }

    .form-page {
        height: 700px;
    }

    .form-details {
        top: 50%;
        left: 5%;
    }
} 

/* For mobile screen sizes 380px max width */

@media screen and (max-width: 380px) {

    .opening-text {
        top: 100%;
    }

    #booking-link {
        top: 120%;
    }

    .form-details {
        top: 80%;
    }

    .social-media li {
        margin: 10px;
    }

    #data {
        margin-top: 70%;
    }
}

/* For landscape orientation on mobile screens */

@media screen and (orientation: landscape)
and (max-width: 920px) {

    .opening-text {
        top: 120%;
    }

    #booking-link {
        top: 180%;
    }

    .form-details {
        top: 100%;
    }
}




